body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Teko", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px rgb(110,35,166);
    padding: 20px;
    font-size: 32px;
    color: rgb(110,35,166);
}


.chamada {
    background: black;
    color: rgb(110,35,166);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 45px;
}

p{
    font-size: 30px;
}



.categoria-videos{
    display: flex;
    overflow-x: auto;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
        height: 150px
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px;
}

.categoria h2{
    color: rgb(110,35,166);
}